    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome to Customake !</h1>
            <p>CustoMake ensures you own a t-shirt of your style and choice. We also help you discover your designing skills with an amazing platform through online competitions. You are one step closer to the future of t-shirt services.</p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Best Designs</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h5>By Suresh Podeti</h5>
                        <p>I.I.T Kharagpur</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h5>By Omkar Mypati</h5>
                        <p>N.I.T Warangal</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h5>By Vamshi krishna</h5>
                        <p>JNTU Hyd</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h5>By Harish Podeti</h5>
                        <p>Vardhaman college</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- second half goes here ..-->
        
        <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Best Offers</h3>
            </div>
        </div>
        <!-- /.row -->


        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h5>By Suresh Podeti</h5>
                        <p>I.I.T Kharagpur</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h5>By Omkar Mypati</h5>
                        <p>N.I.T Warangal</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h5>By Vamshi krishna</h5>
                        <p>JNTU Hyd</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h5>By Harish Podeti</h5>
                        <p>Vardhaman college</p>
                    </div>
                </div>
            </div>
            </div>

            <!-- workflow section starts here-->
            <hr>
            <div class="container">
                <h2>work flow</h2>



            </div>