<!-- About Us section starts here-->
    <div class="about-us container" style="background-color:#F0F8FF;opacity:0;box-shadow: 10px 10px grey;" id="about-us">
<!--      <div class="text-center"><h3><b>About Us</h3></b></div><br>
 -->
  <div class="text-center"> <%= image_tag("about-us.png")%></div>
     <div>
     <h4 style="color:blue;"><b>Our background</b></h4>
     <p>A team with intellectual minds has put forth their ideas to create a bootstrap, an amazing market place. After a lot of observation of the peoples dissatisfaction over buying items of their personal choice. NthPointDesign came up with an idea of competition-driven customerized products. In this perspective the individual efforts of the team members came to the N<sup>th</sup> Point, and finally started to work upon the Idea of NthPointDesign.
     </p>


     </div>

     <div>
         <h4 style="color:blue;"><b>Our Mission</b></h4>
         To be able to meet the need of individual personalization to satisfy the customers

     </div>

     <div>
         <h4 style="color:blue;"><b>Our Values</b></h4>
         NthPointDesign is the first market place which encourage designers and statisfy customers by giving priority to following values. The following values depict the total quality management.

<h4><b><i>Encourage Ideas</i></b></h4>

 <p style="color:green;"><q> <i><b>If you're good at something, never do it for free -- by THE JOKER.</b></i> </q></p>
 <p> NthPointDesgin becomes a platform to encourage individual ideas on design. We will share  profit on a particular design with the designer which is a unique opportunity for the designer.</p>



<h4><b><i>Quality</i></b></h4>

We give assurance for maintaing quality in the service and products to fulfil the basic customer's requirement.

    <br><br>

     </div>

    </div>

</div>
<!-- About Us section ends here-->
