<div class="container">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading text-center">Career @customake</div>
    <div class="panel-body">
Currently we offer interships to the college students. We hire in the month of december, internship will be of 1 month duration.We hire for the position of sales intern / marketing intern and designer . 
<hr>
<p style="color:red;">Question: Who can Apply?</p>
<p style="color:green;">Answer: Any college student having skills required for sales, marketing and design skills (photo editing / photoshop skills)</p>
<hr>
<p style="color:red;">Question: What will be the Compensation?</p>
<p style="color:green;">Answer: Customake is an upcomming startup which has lot of scope in the market, we will be providing the intern candidates with 1000 per month as compensation</p>
<hr>
<p style="color:red;">Question: Nature of work?</p>
<p style="color:green;">Answer: People hired for the position of designer are asked to work from home for 4 hours daily. sales and marketing roles sometimes may involve on site work</p>
<hr>
<p style="color:red;">Question: How to apply?</p>
<p style="color:green;">Answer: If you think you have the required skills you can shoot us mail at help@customake.com , We will reach you if your resume fit enough for mentioned roles</p>


    </div>
  </div>
</div>

<br>
<br>




