<h2>Delivery Address Section </h2>
<p><%= link_to "Back to Dashboard", customer_profiles_path %> | <%= link_to "Back to List of orders", customer_orders_path %></p>
<hr style="width: 100%; color: black; height: 1px; background-color:black;">
		
<div class="container">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading text-center">Delivery Address</div>
    <div class="panel-body">
    	 <% if @addresses.customer_order_id == @order.id %>
			<%= @addresses.address %>
			
		<% end %>

    </div>
  </div>
</div>
