


<div class="container">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading text-center">Delivery Address</div>
    <div class="panel-body">
    	<% if @address.address.any?%>

	    	 <h2>show from delivery address show.html.erb</h2>
			<p>suresh<%= @address.address %></p> 
		<% else %>
			<p>not given address</p>
		<% end %>	

    </div>
  </div>
</div>
