<% (0..5).each do |i|%>
  	<br>
  <% end %>	
<div class="container">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading text-center">Contact Details</div>
    <div class="panel-body">
	<div class="row">
		<div class="col-md-4">
			<h4><b>Address</b></h4>
			<p>87/2, First floor, 6th cross, 2nd main, SG Palya, Bengaluru-560029</p>
		</div>
		<div class="col-md-4">
			<div class="row">
				<p><i class="fa fa-phone fa-2x" aria-hidden="true"></i>  +91-9886100232</p>
			</div>
			<hr>
			
			<div class="row">
				<p><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i> +91-9886100232</p>

			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-3">
				<a href="#" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>  
				</div>
				<div class="col-md-3">
				 <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> 
				 </div>
			</div>
			
		</div>
		
	</div>
	



</div>

    </div>
  </div>
  <% (0..9).each do |i|%>
  	<br>
  <% end %>	
















