
<div class="container">
<h1>Contact Address</h1><br>
<hr>
    <div class="contact-box" style="opacity:0.5;">


    	<div class="row text-center">
    		<div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12 first-box">
            <h1><span class="glyphicon glyphicon-earphone"></span></h1>
            <h3>Phone</h3>
            <p>+91-9083519088 </p><br>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 second-box">
            <h1><span class="glyphicon glyphicon-home"></span></h1>
            <h3>Location</h3>
            <p>87/2, 6th cross, 2nd main, SG Palya, Bengaluru-29</p><br>
        </div>
        </div>
        <div class="row text-center">
        <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12 third-box text-center">
            <h1><span class="glyphicon glyphicon-send"></span></h1>
            <h3>E-mail</h3>
            <p>nthpointdesign@gmail.com</p><br>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 fourth-box text-center">
        	<h1><i class="fa fa-whatsapp" aria-hidden="true"></i></h1>
            <h3>Whatsapp</h3>
            <p>+91-9083519088</p><br>
        </div>
    	</div>
    </div>
</div>

















