

<div class="container">
  <div class="panel panel-default panel-success">
    <div class="panel-heading text-center"><b>How to proceed?</b></div>
    <div class="panel-body">
    <p><b>1. If you are ready with your design:</b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Simply go to the <%= link_to "order section", new_customer_order_path%> and upload your model and submit, write description of your order</p>

              <p><b>2. If you want we to design:</b></p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>a. Providing Logo, quotation, and description</b> </p>
                  <p style="font-size:90%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;upload Logo, write quotation, description and submit we will suggest designs based on your details. </p>

              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>b. Providing only description and inviting design</b></p>
                 <p style="font-size:85%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We will launch competition based on your design description and show you the designs you need to choose one
    </p> 

    </div>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Back to Dashboard", manufacturer_profiles_path %></p>
  </div>
</div>