<% (0..1).each do |i|%>
  <br>
<% end %>

<div class="container">
  <div class="panel panel-default panel-success">
    <div class="panel-heading text-center"><b>How to proceed?</b></div>
    <div class="panel-body">
    <p>
    <ul>
      <li>1. You can change your registered address by clicking on address section</li>
      <li>2. You can view list of orders under List of orders section, download the image and proceed for production </li>
      <li>3. For each order you can see the order payment details </li>
      <li>4. Update the status of your order by going to List of Orders---> Update Status</li>

    </ul>
    </p> 

    <p><%= link_to "Back to Dashboard", manufacturer_profiles_path %></p>
    </div>
      
  </div>
</div>
<% (0..14).each do |i|%>
  <br>
<% end %>