<% (0..2).each do |i|%>
  <br>
<% end %>

<div class="container">
  <div class="panel panel-primary " style="box-shadow: 10px 10px grey;">
    <div class="panel-heading text-center">Competition Task</div>
    <div class="panel-body">
    <% if @tasks.any?%>
    		<% status=false %>
	    <% @tasks.each do |task|%>
	    	<% if task.current_task == true %>
	    		<% status=true%>
	    		<p><%= task.description %></p>
	    		 <br>
	    		 <p><%= image_tag(task.artifact)%></p>
	    		<br>
	    		<p><%= link_to "Submit your design", competition_task_competition_submissions_path(task)%></p>
	    	<% end %>

	    <% end %>
		<%if status == false %>
		<p>No competition is running at this moment !!</p
		<% end %>
	<% else %>
		<p>No competition is running at this moment !!</p>
	<%end %>
	<p><%= link_to "Back to Dashboard", competitor_profiles_path %></p>
    </div>
  </div>
</div>
<% (0..14).each do |i|%>
  <br>
<% end %>