// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flip1{

    padding: 5px;
    text-align: center;
    background-color: #BCDDE5;
    border: solid 1px #c3c3c3;
}

#flip2{

    padding: 5px;
    text-align: center;
    background-color: #E5BCC5;
    border: solid 1px #c3c3c3;
}

#flip3{

    padding: 5px;
    text-align: center;
    background-color: #BCE5CB;
    border: solid 1px #c3c3c3;
}


#flip4{

    padding: 5px;
    text-align: center;
    background-color: #D8DCA6;
    border: solid 1px #c3c3c3;
}

#flip5{

    padding: 5px;
    text-align: center;
    background-color: #E5AD9A   ;
    border: solid 1px #c3c3c3;
}

#panel1, #panel2, #panel3, #panel4, #panel5 {
	background-color: #FFFFFF;
	border: solid 1px #c3c3c3;
	text-align: center;
	padding: 5px;
    padding: 50px;
    display: none;
}