// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#flip1, #flip2, #flip3, #flip4, #flip5 {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel1, #panel2, #panel3, #panel4, #panel5 {
	background-color: #FFFFFF;
	border: solid 1px #c3c3c3;
	text-align: center;
	padding: 5px;
    padding: 50px;
    display: none;
}