 <!-- our services and products-->
 <div class="container bootstrap snippet">
<section id="services" class="current">
    <div class="services-top">
        <div class="container bootstrap snippet">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h2>What We Offer</h2>
                    <h2 style="font-size: 50px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Products and Services</h2><hr style="width: 100%; color: black; height: 1px; background-color:black;">
                    <p>We follow Competition-driven customerization approach</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" col-sm-12 col-md-12 col-md-12">
                    <div class="services-list">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-product-hunt highlight"></div>
                                    <div class="text-block">
                                        <div class="name"><h4 style="color:blue;">Our Products</h4></div>
                                        <div class="text">
                                            <p>Our Main products are:  </p>
                                        <p>
                                            <ul>
                                                <li>T-shirts (Both Round neck and Collar) </li>
                                                <li>Sweatshirts</li>
                                                <li>Poster / Logo Design</li>
                                            </ul>
                                        </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-users highlight"></div>
                                    <div class="text-block">
                                        <div class="name"><h4 style="color:blue;">Bulk Order</h4></div>
                                        <div class="text">
                                        <p>We accept bulk orders in general. Minimum quantity to place an order without delivery charges is 5. You can place an order by logging into the Order section, You can upload already existing design or ask us to provide a design by giving your requirement description. We may launch a competition based on your requirement to get best of the best designs for you. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-cogs highlight"></div>
                                    <div class="text-block">
                                        <div class="name"><h4 style="color:blue;">Manufacturing With Us</h4></div>
                                        <div class="info">
                                            <p>You can collaborate your manufacturing business by registering with us at manufacture section. Since our business is competition-driven customerization you will have great business deal with us</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><br>
                        <div class="row">    
                            <div class="col-sm-4 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-pencil highlight"></div>
                                    <div class="text-block">
                                        <div class="name"><h4 style="color:blue;">Competitions</h4></div>
                                        <div class="text">
                                        <p>We launch competitions frequently in each month. If you are creative you can get attractive rewards by participating in competitions. We offer 10 coins for each successful submission for a particular task and additional coins for top 3 designs.</p> <p>we are excited to inform you that If you score 500 points you can order a product from our website. 5% Discount if you buy any product from our website  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-bolt highlight"></div>
                                    <div class="text-block">
                                        <div class="name"><h4 style="color:blue;">Trending Designs</h4></div>
                                        <div class="text">
                                        <p>We launch competitions on trending topics to get best models which suite current requirement of many. If you got bored of t-shirt designs this is the place you should look for. </p>
                                        <p>
                                            If you want designs on a particular topic just log into the portal and place an order / share your thought we will help you out to get the exact design
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        </div>
                        </section>
                        </div>


<!-- products and services section ends here-->
   