<!-- our services and products-->
 <div class="container" style="background-color:white;">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 " style="border-radius: 25px;box-shadow: 10px 10px grey;background-color:#DCDCDC;">
                    <h2>What We Offer</h2>
                    <h2 style="font-size: 30px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Products and Services</h2>
                    <p>We follow Competition-driven customerization approach</p>
                </div>
            </div>
 </div>
 <br><br>
<div class="container">
 <div class="jumbotron">
  <div class="panel-group" id="accordion">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse1"><strong>Our Products</strong></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body" style="background-color:white">
        <h2>Our main products are:  </h2>
          <p>
           <ul>
            <li><p style="color:red;"><b>T-SHIRTS (Both Round neck and Collar) </b></p></li>
            <li><p style="color:blue;"><b>SWEATSHIRTS</b></p></li>
            <li><p style="color:red;"><b>POSTER / LOGO DESIGN</b></p></li>
           </ul>
          </p>
</div>
      </div>
    </div>
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse2"><strong>Bulk Orders</strong></a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body" style="background-color:#84B5BC">We accept bulk orders in general. Minimum quantity to place an order without delivery charges is 5. You can place an order by logging into the Order section, You can upload already existing design or ask us to provide a design by giving your requirement description. We may launch a competition based on your requirement to get best of the best designs for you.</div>
      </div>
    </div>
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse3"><strong>Competitions</strong></a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body" style="background-color:#A2C1D1">We launch competitions frequently in each month. If you are creative you can get attractive rewards by participating in competitions. We offer 10 coins for each successful submission for a particular task and additional coins for top 3 designs.

we are excited to inform you that If you score 500 points you can order a product from our website. 5% Discount if you buy any product from our website</div>
      </div>
    </div>
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse4"><strong>Trending Designs</strong></a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body" style="background-color:#A4D1A2">We launch competitions on trending topics to get best models which suite current requirement of many. If you got bored of t-shirt designs this is the place you should look for.

If you want designs on a particular topic just log into the portal and place an order / share your thought we will help you out to get the exact design</div>
      </div>
    </div>
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  data-parent="#accordion" href="#collapse5"><strong>Manufacturing with Us</strong></a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse" href="collapse5">
        <div class="panel-body" style="background-color:#D1CDA2">You can collaborate your manufacturing business by registering with us at manufacture section. Since our business is competition-driven customerization you will have great business deal with us</div>
      </div>
    </div>
  </div>
 </div>
<!-- products and services section ends here-->