<!-- our services and products-->
 <div class="container" style="background-color:white;">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 " style="border-radius: 25px;box-shadow: 10px 10px grey;background-color:#DCDCDC;">
                    <h2>What We Offer</h2>
                    <h2 style="font-size: 30px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Products and Services</h2>
                    <p>We follow Competition-driven customerization approach</p>
                </div>
            </div>



            <br><br>
            <div class="col-md-8 col-md-offset-2">
            <!-- main products section -->
            <div id="flip1">Our Products</div>
            <div id="panel1">


                                            <h2>Our Main products are:  </h2>
                                        <p>
                                            <ul>
                                                <li><p style="color:red;"><b>T-shirts (Both Round neck and Collar) </b></p></li>
                                                <li><p style="color:blue;"><b>Sweatshirts</b></p></li>
                                                <li><p style="color:red;"><b>Poster / Logo Design</b></p></li>
                                            </ul>
                                        </p>

            </div>

            <!-- bulk orders -->
            <div id="flip2">Bulk Orders</div>
            <div id="panel2">

                                       <div class="text">
                                        <p>We accept bulk orders in general. Minimum quantity to place an order without delivery charges is 5. You can place an order by logging into the Order section, You can upload already existing design or ask us to provide a design by giving your requirement description. We may launch a competition based on your requirement to get best of the best designs for you. </p>
                                        </div>

            </div>


            <!-- Competitions -->
            <div id="flip3">Competitions</div>
            <div id="panel3">

                                       <div class="text">
                                        <p>We launch competitions frequently in each month. If you are creative you can get attractive rewards by participating in competitions. We offer 10 coins for each successful submission for a particular task and additional coins for top 3 designs.</p> <p>we are excited to inform you that If you score 500 points you can order a product from our website. 5% Discount if you buy any product from our website  </p>
                                        </div>

            </div>


            <!-- Trending desings -->
            <div id="flip4">Trending Designs</div>
            <div id="panel4">

                                        <div class="text">
                                        <p>We launch competitions on trending topics to get best models which suite current requirement of many. If you got bored of t-shirt designs this is the place you should look for. </p>
                                        <p>
                                            If you want designs on a particular topic just log into the portal and place an order / share your thought we will help you out to get the exact design
                                        </p>
                                        </div>

            </div>


            <!-- Manufacturing with Us -->
            <div id="flip5">Manufacturing with Us</div>
            <div id="panel5">

                                        <div class="text">
                                        <p>You can collaborate your manufacturing business by registering with us at manufacture section. Since our business is competition-driven customerization you will have great business deal with us</p>
                                        </div>

            </div>







</div>


















































</div>
<!-- products and services section ends here-->