<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">Instructions for competition</div>
    <div class="panel-body">
    	<p>Instructions goes here</p>
    	<br>
    	<p><%= link_to "Back to Dashboard",competitor_profiles_path %></p>

    </div>
  </div>
</div>